@import "compass";

// -------------------------- Bootstrap Styles ----------------------------- //
.col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.dropdown-menu li h5 {
    padding: 3px 20px;
}
.navbar li .btn-group {
    padding: 0px 14px 5px 10px;
    white-space: nowrap;
}
.navbar .btn-group .btn {
    float: none !important;
    margin-right: -4px;
}

.dropdown-menu .input-group {
    padding: 6px 10px;
}
.dropdown-menu .input-group input {
    width: 270px;
}

a:hover {
    cursor: pointer;
}

// ---------------------------- General Styles ----------------------------- //
html, body { height: 100%; }

#filename {
    background: #080808;
    border: none;
    color: white;
    font-weight: 200;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    color: white;
    width: 150px;
    @include transition-property(width);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in-out);
}
#filename:focus {
    width: 320px;
}

// ---------------------------- Editor Styles ------------------------------ //
.full#editor-window {
    padding-top: 52px;
}

.CodeMirror {
    border: 1px solid black;
}

// ---------------------------- Preview Styles ----------------------------- //
#preview-pane {
    padding: 3% 12%;
    width: 100%;
    border: 1px solid black;
    background: white;
    overflow-y: scroll;
}
#preview-waiting {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 13px;
    right: 8px;
    border-radius: 3px;
    background: rgba(0,0,0,.7) no-repeat center center;
    padding-top: 20%;
    @include box-shadow(black 5px 5px 25px);
}
#preview-waiting > .fa-spin {
    color: white;
    font-size: 128px;
    width: 100%;
}
#preview-expanded .modal-dialog{
    width: 98%;
}
@media(min-width: 768px) { #preview-expanded .modal-dialog { width: 90%; } }
@media(min-width: 992px) { #preview-expanded .modal-dialog { width: 85%; } }
@media(min-width: 1200px) { #preview-expanded .modal-dialog { width: 75%; } }

#preview-expanded .modal-body {
    min-height: 500px;
}

.pre-header {
    height: 30px;
    border: 1px solid #bbb;
    border-bottom: none;
    box-shadow: inset 0 1px 0 #fff, inset 0 6px 8px rgba(255, 255, 255, 0.2);
    @include background-image(linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaa 100%));
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.pre-header p {
    padding-top: 5px;
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    text-shadow: 0 1px rgba(255,255,255,0.5);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
}

pre.prettyprint {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

// ---------------------------- Markdown Styles ---------------------------- //
#markdown-pane .modal-dialog{
    width: 1076px;
}

// ------------------------------ Message Box ------------------------------ //
#message-box {
    display: none;
    position: fixed;
    top: 70px;
    left: 25%;
    width: 50%;
    z-index: 1001;
}
@media(max-width: 768px) { #message-box { left: 10px; right: 10px; width: auto; } }
@media(min-width: 768px) { #message-box { left: 5%; width: 90%; } }
@media(min-width: 992px) { #message-box { left: 15%; width: 70%;  } }
@media(min-width: 1200px) { #message-box { left: 25%; width: 50%; } }
