@import "compass";

// -------------------------- Bootstrap Styles ----------------------------- //
a.navbar-brand.texdown-logo {
    background: url("/images/texdown-logo-lightgray-150.png") no-repeat center center;
    height: 50px;
    width: 120px;
}
a.navbar-brand.texdown-logo:hover {
    background: url("/images/texdown-logo-white-150.png") no-repeat center center;
}
.nav > li > a {
    font-size: 16px;
}

// ---------------------------- General Styles ----------------------------- //
.full { height: 100%; }

img.avatar {
    height: 32px;
    width: 32px;
    margin: -7px 0px;
}
