extends base
block header
    script(src="/lib/codemirror.js")
    link(rel="stylesheet" type="text/css" href="/lib/codemirror.css")
    script(src="/mode/gfm.js")

block content
    var myCodeMirror = CodeMirror(document.body)
