extends base
block header
    link(rel="stylesheet" type="text/css" href="/lib/codemirror/codemirror.css")
    link(rel="stylesheet" type="text/css" href="/lib/codemirror/theme/monokai.css")

block content
    .container.editor-pane
        .row.editor-pane
            .col-md-6.editor-pane
                form.editor-pane
                    button#compile-button.btn.btn-primary(type="button")= 'Compile '
                        span.glyphicon.glyphicon-refresh
                    textarea#texdown-code.editor-pane
            .col-md-6.editor-pane
                #texdown-preview.editor-pane
                button#expand-button.btn.btn-primary(type="button")= 'Expand '
                    span.glyphicon.glyphicon-resize-full

    script(src="/lib/codemirror/codemirror.js")
    script(src="/lib/codemirror/addon/mode/overlay.js")
    script(src="/lib/codemirror/mode/xml/xml.js")
    script(src="/lib/codemirror/mode/markdown/markdown.js")
    script(src="/lib/codemirror/mode/gfm/gfm.js")
    script(src="/lib/codemirror/mode/javascript/javascript.js")
    script(src="/lib/codemirror/mode/css/css.js")
    script(src="/lib/codemirror/mode/htmlmixed/htmlmixed.js")
    script(src="/lib/codemirror/mode/clike/clike.js")
    script(src="/js/app.js")
