extends base
block header
    link(rel="stylesheet" type="text/css" href="/lib/codemirror.css")
    link(rel="stylesheet" type="text/css" href="/theme/monokai.css")
    script(src="/lib/codemirror.js")
    script(src="/addon/mode/overlay.js")
    script(src="/mode/xml/xml.js")
    script(src="/mode/markdown/markdown.js")
    script(src="/mode/gfm/gfm.js")
    script(src="/mode/javascript/javascript.js")
    script(src="/mode/css/css.js")
    script(src="/mode/htmlmixed/htmlmixed.js")
    script(src="/mode/clike/clike.js")

block content
    .container.editor-pane
        .row.editor-pane
            .col-md-6.editor-pane
                form.editor-pane
                    button#compile-button.btn.btn-primary(type="button")= 'Compile '
                        span.glyphicon.glyphicon-refresh
                    textarea#texdown-code.editor-pane
            .col-md-6.editor-pane
                #texdown-preview.editor-pane
                    button#expand-button.btn.btn-primary(type="button")= 'Expand '
                        span.glyphicon.glyphicon-resize-full
    script(src="/js/app.js")
