extends base
block header
    link(rel="stylesheet", type="text/css", href="/css/index.css")
block content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.texdown-logo(href="/")
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li: a(href="#") About
                    li: a(href="#") Usage

    .jumbotron
        .container
            img(src="/images/texdown-logo-white-900.png")
            .row
                .col-md-8
                    h1 For efficient Markdown note-taking infused with the power of \( \mathrm\LaTeX \)

    if (user)
        p= "You're logged in, " + user.displayName 
        p= "Your unique Google ID is: " +  user.id
        a(href="/logout") Log Out
    else 
        a(href="/auth/google") Login with Google
        
