/* line 4, ../sass/edit.scss */
.col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 9, ../sass/edit.scss */
.dropdown-menu li h5 {
  padding: 3px 20px;
}

/* line 12, ../sass/edit.scss */
.navbar li .btn-group {
  padding: 0px 14px 5px 10px;
  white-space: nowrap;
}

/* line 16, ../sass/edit.scss */
.navbar .btn-group .btn {
  float: none !important;
  margin-right: -4px;
}

/* line 21, ../sass/edit.scss */
.dropdown-menu .input-group {
  padding: 6px 10px;
}

/* line 24, ../sass/edit.scss */
.dropdown-menu .input-group input {
  width: 270px;
}

/* line 28, ../sass/edit.scss */
a:hover {
  cursor: pointer;
}

/* line 33, ../sass/edit.scss */
html, body {
  height: 100%;
}

/* line 35, ../sass/edit.scss */
#filename {
  background: #080808;
  border: none;
  color: white;
  font-weight: 200;
  height: 50px;
  padding: 15px;
  font-size: 20px;
  color: white;
  width: 150px;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 49, ../sass/edit.scss */
#filename:focus {
  width: 320px;
}

/* line 54, ../sass/edit.scss */
.full#editor-window {
  padding-top: 52px;
}

/* line 58, ../sass/edit.scss */
.CodeMirror {
  border: 1px solid black;
}

/* line 63, ../sass/edit.scss */
#preview-pane {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid black;
  background: white;
  overflow-y: scroll;
}

/* line 71, ../sass/edit.scss */
#preview-waiting {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 13px;
  right: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.7) no-repeat center center;
  padding-top: 20%;
  -webkit-box-shadow: black 5px 5px 25px;
  -moz-box-shadow: black 5px 5px 25px;
  box-shadow: black 5px 5px 25px;
}

/* line 82, ../sass/edit.scss */
#preview-waiting > .fa-spin {
  color: white;
  font-size: 128px;
  width: 100%;
}

/* line 87, ../sass/edit.scss */
#preview-expanded .modal-dialog {
  width: 98%;
}

@media (min-width: 768px) {
  /* line 90, ../sass/edit.scss */
  #preview-expanded .modal-dialog {
    width: 90%;
  }
}
@media (min-width: 992px) {
  /* line 91, ../sass/edit.scss */
  #preview-expanded .modal-dialog {
    width: 85%;
  }
}
@media (min-width: 1200px) {
  /* line 92, ../sass/edit.scss */
  #preview-expanded .modal-dialog {
    width: 75%;
  }
}
/* line 94, ../sass/edit.scss */
#preview-expanded .modal-body {
  min-height: 500px;
}

/* line 98, ../sass/edit.scss */
.pre-header {
  height: 30px;
  border: 1px solid #bbb;
  border-bottom: none;
  box-shadow: inset 0 1px 0 white, inset 0 6px 8px rgba(255, 255, 255, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(50%, #cfcfcf), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #cfcfcf 50%, #aaaaaa 100%);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

/* line 108, ../sass/edit.scss */
.pre-header p {
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

/* line 115, ../sass/edit.scss */
pre.prettyprint {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

/* line 123, ../sass/edit.scss */
#markdown-pane .modal-dialog {
  width: 1076px;
}

/* line 128, ../sass/edit.scss */
#message-box {
  display: none;
  position: fixed;
  top: 70px;
  left: 25%;
  width: 50%;
  z-index: 1001;
}

@media (max-width: 768px) {
  /* line 136, ../sass/edit.scss */
  #message-box {
    left: 10px;
    right: 10px;
    width: auto;
  }
}
@media (min-width: 768px) {
  /* line 137, ../sass/edit.scss */
  #message-box {
    left: 5%;
    width: 90%;
  }
}
@media (min-width: 992px) {
  /* line 138, ../sass/edit.scss */
  #message-box {
    left: 15%;
    width: 70%;
  }
}
@media (min-width: 1200px) {
  /* line 139, ../sass/edit.scss */
  #message-box {
    left: 25%;
    width: 50%;
  }
}
