/* line 5, ../sass/index.scss */
.row#blurb,
.row#files-home {
  margin-left: 0;
  margin-right: 0;
}

/* line 9, ../sass/index.scss */
.jumbotron {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF1E5799', endColorstr='#007DB9E8');
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #1e5799), color-stop(67%, #4d87c0), color-stop(97%, rgba(108, 167, 218, 0.7)), color-stop(100%, rgba(125, 185, 232, 0)));
  background-image: -webkit-linear-gradient(left top, #1e5799 0%, #4d87c0 67%, rgba(108, 167, 218, 0.7) 97%, rgba(125, 185, 232, 0) 100%);
  background-image: -moz-linear-gradient(left top, #1e5799 0%, #4d87c0 67%, rgba(108, 167, 218, 0.7) 97%, rgba(125, 185, 232, 0) 100%);
  background-image: -o-linear-gradient(left top, #1e5799 0%, #4d87c0 67%, rgba(108, 167, 218, 0.7) 97%, rgba(125, 185, 232, 0) 100%);
  background-image: linear-gradient(left top, #1e5799 0%, #4d87c0 67%, rgba(108, 167, 218, 0.7) 97%, rgba(125, 185, 232, 0) 100%);
  height: 100%;
  padding-top: 12%;
}

/* line 22, ../sass/index.scss */
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6,
.jumbotron p {
  color: white;
}

/* line 25, ../sass/index.scss */
.jumbotron h1 {
  font-size: 45px;
}

@media (min-width: 992px) {
  /* line 29, ../sass/index.scss */
  .jumbotron-column {
    position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    right: 76%;
    width: auto;
    height: auto;
    overflow-y: scroll;
    margin: 0;
    padding-top: 30px;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF1E5799', endColorstr='#007DB9E8');
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #1e5799), color-stop(67%, #4d87c0), color-stop(97%, rgba(108, 167, 218, 0.7)), color-stop(100%, rgba(125, 185, 232, 0)));
    background-image: -webkit-linear-gradient(left top, #1e5799 0%, #4d87c0 67%, rgba(108, 167, 218, 0.7) 97%, rgba(125, 185, 232, 0) 100%);
    background-image: -moz-linear-gradient(left top, #1e5799 0%, #4d87c0 67%, rgba(108, 167, 218, 0.7) 97%, rgba(125, 185, 232, 0) 100%);
    background-image: -o-linear-gradient(left top, #1e5799 0%, #4d87c0 67%, rgba(108, 167, 218, 0.7) 97%, rgba(125, 185, 232, 0) 100%);
    background-image: linear-gradient(left top, #1e5799 0%, #4d87c0 67%, rgba(108, 167, 218, 0.7) 97%, rgba(125, 185, 232, 0) 100%);
  }
}
/* line 45, ../sass/index.scss */
.jumbotron > .list-group {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857142857;
  margin-top: 35px;
  margin-bottom: 0px;
}

/* line 53, ../sass/index.scss */
.panel-heading-deleted {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
}

/* line 59, ../sass/index.scss */
.label {
  float: right;
  margin: 1px;
}

/* line 64, ../sass/index.scss */
.label .glyphicon {
  cursor: pointer;
}

/* line 68, ../sass/index.scss */
.tag-input {
  display: none;
  margin-bottom: 5px;
}

/* line 74, ../sass/index.scss */
html {
  height: 100%;
}

/* line 75, ../sass/index.scss */
body {
  height: 100%;
}

/* line 80, ../sass/index.scss */
.jumbotron img {
  float: left;
}

/* line 84, ../sass/index.scss */
.jumbotron h4 {
  position: relative;
  float: left;
  top: 48px;
  left: -33px;
}

/* line 91, ../sass/index.scss */
#files-home {
  padding-top: 80px;
}

/* line 96, ../sass/index.scss */
#previews .panel-heading button.close,
#labels .list-group-item button.close {
  display: none;
}

/* line 101, ../sass/index.scss */
#previews .panel-heading:hover button.close,
#labels .list-group-item:hover button.close {
  display: inline-block;
}

/* line 105, ../sass/index.scss */
#message-box {
  display: none;
  position: fixed;
  top: 70px;
  left: 25%;
  width: 50%;
  z-index: 1001;
}

@media (max-width: 768px) {
  /* line 113, ../sass/index.scss */
  #message-box {
    left: 10px;
    right: 10px;
    width: auto;
  }
}
@media (min-width: 768px) {
  /* line 114, ../sass/index.scss */
  #message-box {
    left: 5%;
    width: 90%;
  }
}
@media (min-width: 992px) {
  /* line 115, ../sass/index.scss */
  #message-box {
    left: 15%;
    width: 70%;
  }
}
@media (min-width: 1200px) {
  /* line 116, ../sass/index.scss */
  #message-box {
    left: 25%;
    width: 50%;
  }
}
