/* line 4, ../sass/main.scss */
a.navbar-brand.texdown-logo {
  background: url("/images/texdown-logo-lightgray-150.png") no-repeat center center;
  height: 50px;
  width: 120px;
}

/* line 9, ../sass/main.scss */
a.navbar-brand.texdown-logo:hover {
  background: url("/images/texdown-logo-white-150.png") no-repeat center center;
}

/* line 12, ../sass/main.scss */
.navbar a {
  font-size: 16px;
}

/* line 17, ../sass/main.scss */
.full {
  height: 100%;
}
