/* line 4, ../sass/main.scss */
.full#editor-window {
  padding: 58px 7px 7px 7px;
}

/* line 7, ../sass/main.scss */
a.navbar-brand.texdown-logo {
  background: url("/images/texdown-logo-lightgray-150.png") no-repeat center center;
  height: 50px;
  width: 120px;
}

/* line 12, ../sass/main.scss */
a.navbar-brand.texdown-logo:hover {
  background: url("/images/texdown-logo-white-150.png") no-repeat center center;
}

/* line 15, ../sass/main.scss */
ul.nav.navbar-nav > li > a {
  font-size: 16px;
}

/* line 18, ../sass/main.scss */
.col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 24, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 25, ../sass/main.scss */
.full {
  height: 100%;
}

/* line 27, ../sass/main.scss */
body {
  background: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#007DB9E8', endColorstr='#FF1E5799');
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(18%, rgba(108, 167, 218, 0.7)), color-stop(51%, #4d87c0), color-stop(100%, #1e5799));
  background-image: -webkit-linear-gradient(left top, rgba(125, 185, 232, 0) 0%, rgba(108, 167, 218, 0.7) 18%, #4d87c0 51%, #1e5799 100%);
  background-image: -moz-linear-gradient(left top, rgba(125, 185, 232, 0) 0%, rgba(108, 167, 218, 0.7) 18%, #4d87c0 51%, #1e5799 100%);
  background-image: -o-linear-gradient(left top, rgba(125, 185, 232, 0) 0%, rgba(108, 167, 218, 0.7) 18%, #4d87c0 51%, #1e5799 100%);
  background-image: linear-gradient(left top, rgba(125, 185, 232, 0) 0%, rgba(108, 167, 218, 0.7) 18%, #4d87c0 51%, #1e5799 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 37, ../sass/main.scss */
#editor-col {
  padding-right: 5px;
}

/* line 40, ../sass/main.scss */
.CodeMirror {
  border-radius: 3px;
  border: 3px solid #CACACA;
}

/* line 46, ../sass/main.scss */
#preview-col {
  padding-left: 5px;
}

/* line 49, ../sass/main.scss */
#preview-wrapper {
  padding: 3px;
  background: #EEE;
  border-radius: 3px;
}

/* line 54, ../sass/main.scss */
#preview-pane {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid #CACACA;
  background: white;
  overflow-y: scroll;
}

/* line 62, ../sass/main.scss */
.preview-expand {
  position: absolute;
  left: 50%;
  top: 3%;
  height: 94%;
  z-index: 1031;
}

@media (min-width: 768px) {
  /* line 69, ../sass/main.scss */
  .preview-expand {
    margin-left: -385px;
  }
}
@media (min-width: 992px) {
  /* line 70, ../sass/main.scss */
  .preview-expand {
    margin-left: -485px;
  }
}
@media (min-width: 1200px) {
  /* line 71, ../sass/main.scss */
  .preview-expand {
    margin-left: -585px;
  }
}
/* line 74, ../sass/main.scss */
#markdown-pane {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 1031;
  margin-left: -517px;
}

@media (max-width: 1034px) {
  /* line 81, ../sass/main.scss */
  #markdown-pane {
    display: none !important;
  }
}
